<h2>Add New Book</h2>
<form method="post" action="/add">
    Title:<br>
    <input type="text" name="title" >
    <br>
    Author:<br>
    <input type="text" name="author">
    <br><br>
    <input type="submit" value="Submit">
  </form>