<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<body>
    <h2>Book List</h2>
    <button type="button" onclick="location.href='/add'">Add New Book</button>
    <br>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th></th>
        </tr>
        <% data.forEach(function(dat) { %>
            <tr>
                <td>
                    <%= dat.rowid %>
                </td>

                <td>
                    <%= dat.title%>
                </td>

                <td>
                    <%= dat.author%>
                </td>

                <td>
                    <input type="button" value="Delete" onclick="location.href='/delete/<%= dat.rowid %>'"  >
                </td>
            </tr>
            <% }); %>
    </table>
</body>

</html>